<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台 appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 出错日志 appender  -->
	<appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>D:/home/logs/app-error-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 以分割日志时间单位为准-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<!-- 只打印错误日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- info日志 appender  -->
	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>D:/home/logs/app-info-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 以分割日志时间单位为准 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<!-- 只打INFO,WARN级别日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- DEBUG日志 appender  -->
	<appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>D:/home/logs/app-debug-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 以分割日志时间单位为准-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<!-- 只打印DEBUG日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<logger name="org.springframework.batch" level="DEBUG"/>
	<logger name="org.springframework.transaction" level="INFO"/>

	<root level="DEBUG">
		<appender-ref ref="console" />
		<!--<appender-ref ref="debugFile" />-->
		<!--<appender-ref ref="infoFile" />-->
		<!--<appender-ref ref="errorFile" />-->
	</root>
</configuration>